.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url("https://cdn.auth0.com/blog/angular/logo3.png");
    background-size: cover;
}
.center-content {
    text-align: -webkit-center;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
.lgn-btn {
    width: 100%;
}
